{% extends 'login/signin.html' %}
{% load static %}

{% block title %}
    Admin Signin
{% endblock %}

{% block style %}
    <style>
        .redirect-icon a{
            color: #000;
        }
    </style>
{% endblock %}

{% block signin_action %}
    {% url 'signin' 3 %}
{% endblock %}


{% block label_name %}
Admin ID
{% endblock %}

{% block placeholder_username %}
Admin ID or Email
{% endblock %}

{% block staff_admin %}
    <div class="redirect-icon">
        <h4>or you sign in as</h4>
        <a href="{% url 'signin' 2 %}">
            <img src="{% static 'image/icon/icon-staff.png' %}"
                 alt="Sign in as staff">
            Staff
        </a>
    </div>
{% endblock %}