{% extends 'login/signin.html' %}
{% load static %}

{% block title %}
    Manage Signin
{% endblock %}

{% block style %}
    <style>
        .redirect-icon a{
            color: #000;
        }
    </style>
{% endblock %}

{% block signin_action %}
    {% url 'signin' 2 %}
{% endblock %}


{% block label_name %}
Staff ID
{% endblock %}

{% block placeholder_username %}
Staff ID or Email
{% endblock %}

{% block staff_admin %}
    <div class="redirect-icon">
        <h4>or you sign in as</h4>
        <a href="{% url 'signin' 3 %}">
            <img src="{% static 'image/icon/icon-admin.png' %}"
                 alt="Sign in as admin">
            Admin
        </a>
    </div>
{% endblock %}