<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} 小区物业管理系统 {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesh  eet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
<div class="header-container"></div>
{% block content %}
    <div class="container-fluid">


        <h1 style="margin-top: 100px">Index
            <small>首页</small>
        </h1>
        <h2>
            Hello,
            <small>{{ name }}!</small>
            -
            <small>{{ request.session.is_login }}</small>
        </h2>
        <a class="btn btn-default" href="{% url 'signin' 1 %}">Signin</a>
        <a class="btn btn-default" href="{% url 'signup' %}">Signup</a>


    </div>
{% endblock %}
{% load static %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>