<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> {{ request.session.user.username }} </title> {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-user.css' %}"> </head>

<body>
    <div class="sidebar">
        <div class="backToIndex">
            <div class="center"> <a href="{% url 'index' %}">
                <img src="{% static 'image/clients/03.png' %}" alt="">
            </a> </div>
        </div>
        <div class="mainMenu">
            <ul id="menu" class="menu">
                <li data-type="" class="menu-item"> <a href="{% url 'profile' request.session.user.username %}">
                        <span data-type="" class="glyphicon glyphicon-asterisk"></span>
                        <span data-type="" class="item-title">个人信息</span>
                    </a> </li>
                <li class="menu-item"> <a href="{% url 'privacy' request.session.user.username %}">
                        <span class="glyphicon glyphicon-lock"></span>
                        <span class="item-title">安全隐私</span>
                    </a> </li>
                <li data-type="contact" class="menu-item"> <a href="{% url 'contact' request.session.user.username %}">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="item-title">联系物业</span>
                </a> </li> {% if request.session.user.level %}
                <li class="menu-item personal"> <a href="{% url 'billboard' request.session.user.username %}">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="item-title">公告板</span>
                    </a> </li>
                <li class="menu-item"> <a href="{% url 'repair' request.session.user.username %}">
                        <span class="glyphicon glyphicon-wrench"></span>
                        <span class="item-title">报修维护</span>
                    </a> </li>
                <li class="menu-item"> <a href="{% url 'bill' request.session.user.username %}">
                        <span class="glyphicon glyphicon-yen"></span>
                        <span class="item-title">账单费用</span>
                        <span class="badge">01</span>
                    </a> </li> {% endif %} </ul>
        </div>
        <div class="backToTop"> <a href="#">
            <span class="glyphicon glyphicon-menu-up"></span>
            BACK TO TOP
        </a> </div>
    </div>
    <div class="main">
        <div id="content">
{#            <!-- {% if data %} {{ data }} {% endif %}  -->#}
            {% block content %} {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
    // $(document).ready(function () {
    //     $('#menu').children().click(function (e) {
    //         data_type = $(e.target).attr('data-type')
    //         $.get(data_type, function (response) {
    //             data = response.data
    //             $('#content').html(data)
    //         });
    //     });
    // });
    </script> {% block script %}{% endblock %} </body>

</html>